<h1>主页启动页</h1>
<nav>
  <a routerLink="/home">首页</a>
  <a routerLink="/set">设置</a>
  <a routerLink="/user">个人中心</a>
  <a routerLink="/calculator">房贷计算器</a>
  <a routerLink="/calnum">计算器</a>
  <a routerLink="/calendar">日历</a>
  <a routerLink="/login">登录</a>
  <a routerLink="/canvas">画板</a>

  <a routerLink="/schulte">舒尔特方格</a>
  <a routerLink="/snake">贪吃蛇</a>

  <a routerLink="/banner">轮播图</a>
  <a routerLink="/contact">联系人列表</a>
  <a routerLink="/student">学生管理系统</a>

</nav>
<router-outlet></router-outlet>
